{{#link-to "calendar"}}<button>Calendar</button>{{/link-to}}
<div class="cue">
  {{#if cue.superCue}}
    <div class="cue__back button" {{action "toggleCue" cue.superCue}}>
      <img src="/assets/images/nav_next.svg" />
      <p>{{cue.superCue.title}}</p>
    </div>
  {{/if}}
	<h1>{{cue.title}}</h1>
	<div class="cue__start-by">
		{{#if cue.startBy}}
	    <h4>Start by: {{cue.startBy}} .... in about 30 minutes</h4>
	  {{/if}}
	</div>
	<div class="cue__steps">
	  {{cue.text}}
	  <ul class="subcue__list">
		  {{#each cue.subCues as |subCue|}}
		    <li class="subcue button" {{action "toggleCue" subCue}}>
		      <p>{{subCue.title}}</p>
			     <img src="/assets/images/nav_next.svg" />
			   </li>
		  {{/each}}
		</ul>
		{{#each cue.images as |imgSrc|}}
		  <img class="cue__img" src={{imgSrc}} />
		{{/each}}
	</div>
</div>